{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/core/homepage.css" %}">
{% endblock css %}

{% block content %}

<div class="problem-container">
    <div class="heading">
        <h1>Save Problem</h1>
    </div>
    <form action="" method="post" class="solution-form">
        <div class="problem-name">
            <input type="text" placeholder="Name of Problem" id="problem-name">
        </div>
        <div class="difficulty-sec">
            <select name="difficulty" class="difficulty dropdown">
                <option value="none" selected disabled hidden class="dropdown-opt">Select Difficulty</option>
                <option value="easy" id="easy" class="dropdown-opt">Easy</option>
                <option value="medium" id="medium" class="dropdown-opt">Medium</option>
                <option value="hard" id="hard" class="dropdown-opt">Hard</option>
            </select>
        </div>
        <br />
        <div class="approach">
            <label for="explanation" id="explanation-label">Approach</label>
            <textarea name="explanation" id="explanation" cols="30" rows="10"></textarea>
        </div>
        <div class="code-container">
            <div class="language-sec">
                <select name="lang" class="language dropdown">
                    <option value="none" selected disabled hidden class="dropdown-opt">Select Language</option>
                    <option value="c_cpp">C++</option>
                    <option value="java">Java</option>
                    <option value="python">Python</option>
                </select>
            </div>
            <div class="code-window">
                <div id="code">

                </div>
            </div>
        </div>
        <div class="submit-btn-sec">
            <button type="submit" class="submit-btn">Save</button>
        </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.7.1/ace.js" integrity="sha512-FKkEO4RZEQjFmU1hoUYdx6HJLdpHpNzgWspgnQCxx7OOkDVz4kiGJxR97yWc5bzjwcCpJC/CRCiQzuoGYAChhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static "editor/ckeditor.js" %}"></script>
<script src="{% static 'js/editor.js' %}"></script>
<script>
    CKEDITOR.replace("explanation");
</script>
{% endblock scripts %}