{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/core/homepage.css" %}">
<link rel="stylesheet" href="{% static "css/core/solutions.css" %}">
{% endblock css %}

{% block content %}

<div class="sol-container">
    <div class="sol-headings">
        <span>Name Of Problem</span>
        <span>Difficulty</span>
    </div>
    {% for solution in solutions %}
        <a href="#"><div class="solution" id={{solution.id}}>
            <div class="name">{{ solution }}</div>
            <div class="difficulty"> {{ solution.difficulty }}</div>
        </div></a>
    {% endfor %}
</div>

{% endblock content %}