@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
}

.container {
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 70px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: sticky;
}