@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.sol-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
}

.sol-headings {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.solution {
    background-color: white;
    border: white;
    border-radius: 10px;
    padding: 13px 20px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}